/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   /* ======================================
      Colors
      ======================================
      Millenial Pink: #ffb6c1
      Dark grey: #a9a9a9
      Fire orange: #fd3a20
      Dark blue: #536b72
      Bright blue: #74cad2
      Peach: #ffe2c7*/
   /* ======================================
      Fonts
      ======================================*/
@font-face {
  font-family:'WisdomScript';
  src:url(../fonts/WisdomScriptAJ.ttf) format('truetype');
}
@font-face {
  font-family:'DroidSans';
  src:url(../fonts/Droidsansreg.ttf) format('truetype');
}
@font-face {
  font-family:'DroidSerif';
  src:url(../fonts/Droidserif.ttf) format('truetype');
}
font-family: 'Source Sans Pro', sans-serif;
/* ======================================
   Base Styles
   ======================================*/
body{
  font-family:'Source Sans Pro';
}
/*Header for everything*/
.experience{
  display:none;
}
.header-wrapper{
  width:96%;
  padding:2%;
  background:#ffeede;
  margin:0;
}
.title-wrapper{
  width:100%;
}
.title {
  font-family:'WisdomScript';
  color:#536b72;
  width:94%;
  padding:3%;
  /*for desktop
  width:33%;*/
}
header h1 {
  font-family:'WisdomScript';
  color:#536b72;
  text-align: center;
  text-decoration: none;
  /*float:left;*/
}
header a{
  text-align: center;
  font-size:1.5em;
  text-decoration: none;
}
header a:hover{
  color:#8fb3cb;
}
#active{
  color: #8fb3cb;
}
nav{
  clear:both;
  width:100%;
}
    nav ul{
      display:block;
      /*float:right;*/
      /*padding:1em;*/
    }
    nav ul li{
      /*display:inline;*/
      display:block;
      text-align: center;
    }
    nav li a{
      text-decoration:none;
      font-family:'DroidSans', serif;
      color:#c6888c;
      font-size: 1.5em;
      padding: 1em;
      text-transform: uppercase;
    }
.tagline{
  width:80%;
  background:url('../img/asanoha-400px.png');
  margin:0;
  padding: 10%;
  clear:both;
}
    h2{
      color:#536b72;
      font-family:'droidserif', serif;
      text-align:center;
      width:92%;
      padding:4%;
      font-size: 2em;
    }
    h2 span{
      color:#c6888c;
      font-family:'WisdomScript';
    }
/*About page*/
.about-me h3{
  color:#ffeede;
  background-color: #8fb3cb;
  margin:0;
  padding:2%;
  width:96%;
  font-size: 2em;
  font-family: "droidserif";
}
.about-wrapper{
  display:flex;
  width:100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow:hidden;
}
.amanda {
  width:50%;
  padding:0 25% 0 25%;
  /*desktop
  width:50%;*/
}
.amanda img{
  width: 100%;
  /*desktop
  width:100%;*/
  float:left;
  display:flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50%;
  border: 8px solid #4c666d;
}
.about-detail {
  width:94%;
  padding:2%;
  margin:0;
  clear:both;
  display:flex;
  justify-content: center;
  align-items: center;
  opacity:0.7;
}
.about-detail p {
  font-family: 'DroidSans';
  color:#4c666d;
  text-align: justify;
  padding:4%;
  font-size: 1.3em;
}
.about-me span{
  color:#c6888c;
  font-family:'WisdomScript';
  font-size: 1.5em;
}
/*Services page*/
.services{
  clear:both;
  width:100%;
}
.services h3{
  color:#ffeede;
  background-color: #8fb3cb;
  margin:0;
  padding:2%;
  width:96%;
  font-size: 2em;
  font-family: "droidserif";
}
  .service-q-wrapper{
    /*display:flex;
    flex-direction: row;*/
  }
      .service-q {
        font-size:1.5em;
        color:#cb979a;
        text-align: center;
        font-family: "droidserif";
        width:90%;
        margin:0 5% 0 5%;
        /*align-items: baseline;
        justify-content: space-between;
        flex:1 1 auto;*/
      }
        .service-q span{
          color: #8fb3cb;
          font-family: "wisdomscript";
          font-size: 1.3em;
          line-height: 1.3em;
        }

      .offering-wrapper{
        clear:both;
        /*display:flex;
        flex-direction:row;
        justify-content: space-between;*/
      }
          .offering{
            clear:both;
            flex:1;
            justify-content: space-between;
            background-color: #4c666d;
            margin: 0 5% 0 5%;
          }
          .offering h5 {
            font-size: 1.5em;
            color: #ffeede;
            width:92%;
            padding:0 4% 0 4%;
            text-align: center;
            font-family:"Droidserif";
          }
          .offering span{
            font-size: 2.2em;
          }
          .offering a{
            font-family: "droidserif";
            color:#ffeede;
            font-size: 1.25em;
            text-decoration: none;
            clear:both;
          }
button {
  color: #4b656d;
  font-family: "droidsans";
  text-transform: uppercase;
  background-color: #c5e4e7;
  font-size: 1.5em;
  padding: 5%;
  width:60%;
}
.button{
  display:flex;
  flex-direction: column;
  align-items: center;
}
    .purchase{
      flex-direction: column;
      align-items: center;
      margin:2%;
      display:none;
    }
    .more-info{
      flex-direction: column;
      align-items: center;
      margin:2%;
    }
    .close-info{
      display:none;
    }
button:hover{
  background-color: #c6888c;
  color: #ffeede;
}
.details{
  display:none;
  /*display:flex;*/
  flex-direction: column;
  align-items: center;
  padding: 10% 0 10% 0;
  font-family: "droidsans";
}
.details h5{
  margin:0;
}
.details ul{
  font-size: 1.125em;
  color:#ffeede;
  list-style: circle;
  flex:1;
}
.det-text{
  width:92%;
  padding:4%;
}
    .det-text h5{
      font-family: "wisdomscript";
      color:#c5e4e7;
      font-size: 2.25em;
    }
    .det-text p{
      font-family: "droidsans";
      color:#ffeede;
      font-size: 1.125em;
      text-align: center;
    }
    .det-text span{
      font-family:"wisdomscript";
      color:#cb979a;
      font-size:1.1em;
    }
.contact h3{
  color:#ffeede;
  background-color: #8fb3cb;
  margin:0;
  padding:2%;
  width:96%;
  font-size: 2em;
  font-family: "droidserif";
}
#mc_embed_signup span{
  font-family:"wisdomscript";
  color:#cb979a;
  font-size:1.1em;
}
#mc_embed_signup_scroll{
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
}
form {
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
  padding:2%;
}
input {
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
}
form .clear{
  width:60%;
  padding: 2%;
}
form .button{
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
  color: #4b656d;
  font-family: "droidsans";
  text-transform: uppercase;
  background-color: #c5e4e7;
  font-size: 1.2em;
  padding: 2%;
  width:96%;
}
.contact-wrapper {
  width:80%;
  padding: 0 10% 0 10%;
}
.contact-wrapper ul {
  display: flex;
  flex-flow: row;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  padding:4%;
  margin:0;
  background-color: #4b656d;
}
.contact-wrapper li {
  display: flex;
  list-style: none;
  flex-flow:row;
  justify-content: space-around;
  align-items: center;
}
.service-wrapper{
  display:flex;
  flex-flow:column;
  justify-content:center;
  align-items: center;
}
.icon{
  display:flex;
  justify-content: center;
  align-items: center;
}

footer {
  font-family:'WisdomScript';
  color:#536b72;
  width:100%;
  background-color: #ffeede;
  margin:0;
  clear:both;
}
footer .title{
  float: none;
  width:94%;
}
footer h4 {
  margin:0;
  padding:3%;
  text-align: center;
  font-size: 1.5em;
  text-decoration: none;
}
footer a{
  text-decoration: none;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
    header a{
      font-size: 2em;
    }
    nav{
      padding: 0 10% 0 10%;
      width:80%;

    }
    nav ul{
      padding: 0;
      text-align: center;
    }
    nav ul li{
      display:inline;
      font-size: 1.1em;
      padding-right:2%;
    }
    .tagline {
      padding:5%;
      width: 90%;
    }
    .tagline h2{
      font-size: 2.5em;
    }
    .about-me h3, .services h3, .contact h3{
      font-size: 2.5em;
      width: 98%;
      padding: 1%;
    }
    .about-wrapper {
      flex-flow: row;
      justify-content: space-around;
      align-items:center;
      font-size: 1.4em;
    }
    .amanda {
      width:35%;
      padding:4%;
      margin:1%;
      float:left;
      flex-flow:row;
      justify-content: center;
      align-items:center;
    }
    .amanda img {
      width:100%;
      float:left;
      flex-flow: row;
      justify-content: center;
      align-items: center;
    }
    .services{
      /*display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;*/
    }
    #col-1, #col-2{
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    .services h4 {
      font-size: 1.8em;
    }
    .offering-wrapper{
      width:80%;
      flex:1;
    }
    .offering h5{
      font-size:2em;
    }
    button {
      font-size:1.5em;
      width:55%;
      padding:3%;
    }
    .service-wrapper {
      flex-flow: column;
      justify-content: flex-start;
      width:30%;
    }
    .service-q h4{
      font-size: 1em;
    }
    .offering h5{
      font-size:1.5em;
      padding:2%;
    }
    .offering span{
      font-size:1.8em;
    }
    .button{
      font-size: 1em;
    }
    .service-detail{
      display:flex;
      width: 60%;
      flex-flow:row;
      justify-content: flex-start;
    }
    #contact{
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    .contact-wrapper ul{
      display:flex;
    }
    .contact-wrapper li {
      display:flex;
    }
    footer h4{
      font-size: 2em;
    }

}
@media only screen and (min-width: 75em) {
  h1 {
    font-size: 3.5em;
  }
  .header-wrapper{
    width:100%;
    overflow:hidden;
    padding:0;
    margin:0
    /*padding:1%;*/
  }
  .title-wrapper{
    width:35%;
    /*overflow:hidden;*/
    margin:0;
    padding:0;
  }
  .title{
    width:100%;
  }
  header h1{
    float:left;
    font-size: 1.5em;
  }
  nav{
    float:right;
    width:60%;
    clear:none;
    padding:0;
    padding-top:5%;
  }
      nav ul{
        display:inline;
        float:right;
        padding: 0;
        margin:0;
        /*padding-left:;*/
        width:70%;
      }
      nav ul li{
        display:inline;
        padding:0;
        margin-left: 10%;
      }
      nav li a{
        text-decoration:none;
        font-family:'DroidSans', serif;
        color:#c6888c;
        font-size: 1.2em;
        padding: 1%;
        text-align:left;
        text-transform: uppercase;
        padding:0;
      }
  h2 {
    font-size: 2.5em;
  }
  .tagline{
    width:96%;
    padding:2%;
  }
  .amanda{
    width:30%;
    padding:2%;
  }
  .about-me h3, .services h3, .contact h3{
    font-size: 2.5em;
    width: 98%;
    padding: 1%;
  }
  #col-1{
    float:left;
    width: 45%;
  }
  #col-2{
    float:right;
    width: 45%;
  }
  .service-q-wrapper{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
  }
    .service-q h4{
      font-size: 1em;
    }
  /*.offering-wrapper{
    width:100%;
  }*/
    .offering h5{
      font-size:1.5em;
      padding:2%;
    }
    .offering span{
      font-size:1.8em;
    }
    .button{
      font-size: 1.3em;
    }
    /*form .button{
      width:60%;
    }*/
  footer{
  }
  footer h4{
    padding:-1%;
  }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
